<ion-header>
  <ion-toolbar color="bluishgreen">
    <ion-title color="dark">Indicaciones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="dark" icon="/assets/arrows.svg" defaultHref="settings" style="font-weight: bold;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <img src="assets/awareness.svg" alt="">
  </ion-item>
  <p>

    Una vez haya iniciado <strong>sesión</strong> , la aplicación directamente le llevará al <strong>mapa</strong> como pantalla principal. <br><br> En el mapa, podrá visualizar cualquier <strong>aparcamiento</strong> que se encuentre <strong>libre</strong>, marcado por un <strong>icono</strong>  de <strong>color</strong>, representado así para diferenciar las diferentes <strong>zonas</strong> de aparcamiento donde se encuentra la plaza libre: <br><br>
    <span><ion-icon src="assets/parking-red.svg"></ion-icon> Color rojo: zona gratuita</span><br>
    <span><ion-icon src="assets/parking-green.svg"></ion-icon>Color verde: zona verde</span> <br>
    <span><ion-icon src="assets/parking-blue.svg"></ion-icon>Color azul: zona azul</span> <br><br>
    
    Haciendo clic en los diferentes iconos de color que pueda encontrar en el mapa, obtendrá cierta <strong>información</strong>: cuantos <strong>minutos</strong> hace que se liberó la plaza y el <strong>tamaño</strong>. <br><br>
    
    Para poder proceder a <strong>notificar</strong> que ha dejado libre su plaza, primeramente tendrá que encontrarse junto a su vehículo, y así desde esta App, una vez abierta, podrá indicar haciendo clic en  mapa, el lugar de la plaza que libera, las dimensiones de esta (pequeño, mediano o grande) y en qué zona se encuentra para que así el resto de usuarios puedan visualizarlo.
    <br><br>Para <strong>ocupar</strong> una plaza simplemente pulsas el marcador de la plaza que quieras ocupar y en la ventana pulsas "Ocupar plaza".
  </p>
</ion-content>
