h5 {
    text-align: center;
}

ion-title {
    text-align: center;
    padding-right: 20%;
    font-weight: bold;
}

p {
    padding: 0 5% 0 5%;
}

span {
    padding: 0 5% 0 5%;
}

img {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}