<ion-header>
  <ion-toolbar color="bluishgreen">
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="reloadPage()"><ion-icon name="reload-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>
  <div class="map-wrapper">
    <div id="map_center">
      <!--img src="assets/icon/maps-and-location.png" /-->
    </div>
    <div #map id="map"></div>
    <div id="map_canvas"></div>
  </div>
</ion-content>



