ion-title {
    text-align: center;
    font-weight: bold;
    margin-right: 50px;
}

ion-item {
    margin: 10px 10px 10px 10px;
}

ion-label {
    font-weight: bold;
}

ion-textarea {
    margin: 20px 0px 0 0px;
    border: 1px solid black;
    border-radius: 10px;
}

img {
    width: 20%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

#img1 {
    margin-right: 20px;
}
#img2 {
    margin-left: 20px;
}

ion-button {
    margin: 10px 10px 0 10px;
}

